Repository dfrappart/azdatabrickslab: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/00_SubSetup_Plan.yaml, Pipelines/01_AzInfra_Plan.yaml

Pipelines/00_SubSetup_Plan.yaml:
  name: 00_SubSetup_Plan
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: terraform_plan_stage
    jobs:
    - job: terraform_plan
      continueOnError: false
      steps:
      - script: 'echo Getting Terraform
  
          echo "Building TFURI for DL"
  
          echo "current terraform version is $TFVer"
  
  ...

Pipelines/01_AzInfra_Plan.yaml:
  name: 01_AzInfra_Plan
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: terraform_plan_stage
    jobs:
    - job: terraform_plan
      continueOnError: false
      steps:
      - script: 'echo Getting Terraform
  
          echo "Building TFURI for DL"
  
          echo "current terraform version is $TFVer"
  
  ...

ts02
  Pipelines/01_AzInfra_Plan.yaml
Due: none

cleanup
  Terraformconfig/01_Infra_DatabricksWorkspace/main.tf
Due: Pipelines/01_AzInfra_Plan.yaml

updating sample
  Terraformconfig/01_Infra_DatabricksWorkspace/terraform.tfvars.example
Due: Pipelines/01_AzInfra_Plan.yaml

update pipeline for trigger
  Pipelines/00_SubSetup_Plan.yaml
Due: none

update count
  Terraformconfig/01_Infra_DatabricksWorkspace/variables.tf
Due: Pipelines/01_AzInfra_Plan.yaml

adding folder for secret mgmt
  Terraformconfig/02_databricks_secretmgmt/.terraform.lock.hcl
  Terraformconfig/02_databricks_secretmgmt/datasources.tf
  Terraformconfig/02_databricks_secretmgmt/main.tf
  Terraformconfig/02_databricks_secretmgmt/output.tf
  Terraformconfig/02_databricks_secretmgmt/readme.md
  Terraformconfig/02_databricks_secretmgmt/terraform.tfvars.example
  Terraformconfig/02_databricks_secretmgmt/terraformbackendconfig.tf.example
  Terraformconfig/02_databricks_secretmgmt/test.txt
  Terraformconfig/02_databricks_secretmgmt/variables.tf
Due: none

adding databricks object
  Modules/DTBSCluster/LICENSE
  Modules/DTBSCluster/locals.tf
  Modules/DTBSCluster/main.tf
  Modules/DTBSCluster/output.tf
  Modules/DTBSCluster/readme.md
  Modules/DTBSCluster/variables.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/.terraform.lock.hcl
  Terraformconfig/03_DatabricksWorkspace_Objects/datasources.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/output.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/readme.md
  Terraformconfig/03_DatabricksWorkspace_Objects/terraform.tfvars.example
  Terraformconfig/03_DatabricksWorkspace_Objects/terraformbackendconfig.tf.example
  Terraformconfig/03_DatabricksWorkspace_Objects/test.txt
  Terraformconfig/03_DatabricksWorkspace_Objects/variables.tf
Due: Pipelines/00_SubSetup_Plan.yaml, Pipelines/01_AzInfra_Plan.yaml

adding pipeline for databricks object
  Pipelines/03_AzDevOps_DatabricksObj_Plan.yaml
Due: none

cleanup
  Terraformconfig/02_DatabricksWorkspace_Objects/.terraform.lock.hcl
  Terraformconfig/02_DatabricksWorkspace_Objects/datasources.tf
  Terraformconfig/02_DatabricksWorkspace_Objects/main.tf
  Terraformconfig/02_DatabricksWorkspace_Objects/output.tf
  Terraformconfig/02_DatabricksWorkspace_Objects/readme.md
  Terraformconfig/02_DatabricksWorkspace_Objects/terraform.tfvars.example
  Terraformconfig/02_DatabricksWorkspace_Objects/terraformbackendconfig.tf.example
  Terraformconfig/02_DatabricksWorkspace_Objects/test.txt
  Terraformconfig/02_DatabricksWorkspace_Objects/variables.tf
  Terraformconfig/03_databricks_scretmgmt/.terraform.lock.hcl
  Terraformconfig/03_databricks_scretmgmt/datasources.tf
  Terraformconfig/03_databricks_scretmgmt/main.tf
  Terraformconfig/03_databricks_scretmgmt/output.tf
  Terraformconfig/03_databricks_scretmgmt/readme.md
  Terraformconfig/03_databricks_scretmgmt/terraform.tfvars.example
  Terraformconfig/03_databricks_scretmgmt/terraformbackendconfig.tf.example
  Terraformconfig/03_databricks_scretmgmt/test.txt
  Terraformconfig/03_databricks_scretmgmt/variables.tf
Due: none

ts01
  Pipelines/03_AzDevOps_DatabricksObj_Plan.yaml
Due: none

update conf
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
Due: none

commenting alias provider dtbs
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
Due: none

updating conf with dtbs cluster module
  Modules/DTBSCluster/main.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
Due: Pipelines/00_SubSetup_Plan.yaml, Pipelines/01_AzInfra_Plan.yaml

updating tfvars example
  Terraformconfig/02_databricks_secretmgmt/terraform.tfvars.example
Due: none

uncommenting backend
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
Due: none

updating hcl conf
  Terraformconfig/00_SubSetup/.terraform.lock.hcl
Due: none

update hcl lock
  Terraformconfig/00_SubSetup/.terraform.lock.hcl
  Terraformconfig/01_Infra_DatabricksWorkspace/.terraform.lock.hcl
  Terraformconfig/02_databricks_secretmgmt/.terraform.lock.hcl
Due: Pipelines/01_AzInfra_Plan.yaml

adding datasource to existing app reg
  Terraformconfig/00_SubSetup/datasources.tf
Due: none

removing value from tgvars
  Terraformconfig/00_SubSetup/Lab.tfvars
Due: none

updating datasource to reference outputs
  Terraformconfig/01_Infra_DatabricksWorkspace/datasources.tf
Due: Pipelines/01_AzInfra_Plan.yaml

updating conf to add app reg stuff in the keyvault
  Terraformconfig/00_SubSetup/Output.tf
  Terraformconfig/00_SubSetup/main.tf
  Terraformconfig/00_SubSetup/variables.tf
Due: none

updating hcl version
  Terraformconfig/00_SubSetup/.terraform.lock.hcl
Due: none

troubleshoot pipeline
  Pipelines/00_SubSetup_Plan.yaml
Due: none

adding default values for variables
  Terraformconfig/00_SubSetup/Lab.tfvars
Due: none

adding missing variables
  Pipelines/00_SubSetup_Plan.yaml
Due: none

tb 01
  Pipelines/00_SubSetup_Plan.yaml
Due: none

Delete .terraform.lock.hcl
  Terraformconfig/00_SubSetup/.terraform.lock.hcl
Due: none

Delete .terraform.lock.hcl
  Terraformconfig/01_Infra_DatabricksWorkspace/.terraform.lock.hcl
Due: Pipelines/01_AzInfra_Plan.yaml

Delete .terraform.lock.hcl
  Terraformconfig/02_databricks_secretmgmt/.terraform.lock.hcl
Due: none

Delete .terraform.lock.hcl
  Terraformconfig/03_DatabricksWorkspace_Objects/.terraform.lock.hcl
Due: none

adding new file in gitignore
  .gitignore
Due: none

adding backend.hcl example
  Terraformconfig/00_SubSetup/backend.hcl.example
  Terraformconfig/00_SubSetup/terraformbackendconfig.tf.example
  Terraformconfig/01_Infra_DatabricksWorkspace/backend.hcl.example
  Terraformconfig/01_Infra_DatabricksWorkspace/terraformbackendconfig.tf.example
Due: Pipelines/01_AzInfra_Plan.yaml

commenting deprecated resource
  Terraformconfig/03_DatabricksWorkspace_Objects/main.tf
Due: none

updating provider
  Terraformconfig/02_databricks_secretmgmt/main.tf
Due: none

updating pipeline with validation job
  Pipelines/00_SubSetup_Plan.yaml
Due: none

adding tfstate file to ignore
  .gitignore
Due: none

updating secret configuration
  Terraformconfig/02_databricks_secretmgmt/backend.hcl.example
  Terraformconfig/02_databricks_secretmgmt/main.tf
Due: none

updating databricks objects config
  Terraformconfig/03_DatabricksWorkspace_Objects/backend.hcl.example
  Terraformconfig/03_DatabricksWorkspace_Objects/datasources.tf
  Terraformconfig/03_DatabricksWorkspace_Objects/terraformbackendconfig.tf.example
Due: none

fixing stage duplicate name
  Pipelines/00_SubSetup_Plan.yaml
Due: none

Path conditions:
  Pipelines/00_SubSetup_Plan.yaml: any of: TerraformConfig/00_SubSetup, Modules
  Pipelines/01_AzInfra_Plan.yaml: any of: Terraformconfig/01_Infra_DatabricksWorkspace, Modules
